extends layout

block content
  h1= title
  p Welcome to #{title}

  each feed in feeds
    h2 #{feed.title}
    p #{feed.description}
    each entry in feed.entries
      h3 #{entry.title}
      p #{entry.description}
